<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected</title>
</head>
<body>
    <h1>Hello <%= user.username %></h1>
    <h3>This is protected page.</h3>
    <p></p>
    <a href="/auth/logout">logout</a>
</body>
</html>